body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	font-family: Lato,HelveticaNeueBold,HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaBold,Helvetica-Bold,"Helvetica Bold",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
	padding-top: 15px;
	text-align: center;
}

input {
	width: 300px;
	background-color: #fff;
	min-height: 31px;
	padding: 3px 7px;
	line-height: normal;
	border: 1px solid #a6a6a6;
	border-top-color: #949494;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
	outline: 0;
	color: #111;
	font-size: 13px;
	margin-top: 5px;
    margin-bottom: 5px;
}

input:hover {
	box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
}

input:focus{
	border-color: darkblue;
	box-shadow: 0 0 3px 2px cornflowerblue;
}

@keyframes wrongGuess {
	50% {border-color: red}
	50% {box-shadow: 0 0 3px 2px red}
}

@keyframes rightGuess {
	50% {border-color: green}
	50% {box-shadow: 0 0 3px 2px green}
}

.animation-wrongGuess {
	animation: wrongGuess 1s ease-in;
}

.animation-rightGuess {
	animation: rightGuess 1s ease-in;
}

.map {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.selected {
	fill: #4CBB17 !important;
}

.municipio {
	fill: azure;
	fill-rule:evenodd;
	stroke:none;
}

.borrarButton {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
	border: 0px solid darkred;
	font-size: 15px;
	min-height: 31px;
	padding: 0 11px;
	text-align: center;
	width: 100%;
	min-width: 200px;
	max-width: 300px;
	font-weight: 500;
	color: black;
	background-color: red;
	margin-bottom: 10px;
	margin-top: 5px;
}

.sendButton {
	outline: 0;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
	border: 0px solid cornflowerblue;
	font-size: 15px;
	min-height: 31px;
	padding: 0 11px;
	text-align: center;
	font-weight: 500;
	color: black;
	background-color: cornflowerblue;
	margin-top: 5px;
    margin-bottom: 5px;
}

.borrarButton:hover .borrarButton:active .borrarButton:focus {
	background-color: indianred;
}

.sendButton:hover .sendButton:active .sendButton:focus {
	background-color: darkslateblue;
}

#provincia {
	float: right;
	margin-right: 15px;
}

header {
    margin-top: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: gainsboro;
    width: 100%;
    text-align: center;
    color: black;
	font-size: 15px;
}

footer {
    margin-top: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: gainsboro;
    width: 100%;
    text-align: center;
    color: black;
	font-size: 15px;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.card {
	min-width: 300px;
	max-width: 300px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	text-align: center;
}

h2 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.listItem {
	padding-left: 0px;
	align-content: center;
	text-align: left;
}

.cardsWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

li {
	padding-right: 15px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}

.sendWrapper {
	display: flex;
	align-items: center;
	gap: 5px;
}

svg {
	width: 100%;
}